<div class="lib-gen-con--wrap">
  <section id="large-image"
    class="lib-gen-con--block lib-img-block lib-block--lg-img">
    <div class="lib-content-wrap">
      <div class="lib-gen-con--img-wrap">
        <figure>
          <img src="{{ img }}" alt="{{ alt }}" />
          <figcaption>
            {{ alt }}
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>
