<div class="lib-gen-con--wrap">
  <section id="lead-block" class="lib-gen-con--block lib-lead-block">
    <div class="lib-content-wrap">
      <h1 class="lib-gen-con--page-title">
        {{ headline }}
      </h1>
      <p class="lead">
        {{ para1 }}
      </p>
    </div>
  </section>
</div>
