<div class="lib-gen-con--wrap">
  <section id="quote-block-ribbon"
    class="lib-gen-con--block lib-quote-block lib-block--quote-ribbon">
    <div class="lib-content-wrap">
      <blockquote class="lib-quote">
        {{ quote }}<cite>
          {{ name }}
        </cite>
      </blockquote>
    </div>
  </section>
</div>
