<div class="lib-gen-con--wrap">
  <section id="quote-block"
    class="lib-gen-con--block lib-quote-block lib-block--quote">
    <div class="lib-content-wrap">
      <div class="lib-quote--marks">
        <i class="fas fa-quote-left" aria-hidden="true"></i>
      </div>
      <blockquote class="lib-quote">
        {{ quote }}
        <cite>
          {{ name }}
        </cite>
      </blockquote>
    </div>
  </section>
</div>
