<div class="lib-show" role="tablist" aria-label="show Label">
  <div class="lib-show--item">
    <button class="lib-show--title"
      data-box-toggle="1"
      role="tab"
      aria-selected="false">
      <h4>
        {{ content }}
      </h4>
      <span class="icon"></span>
    </button>
    <div class="lib-show--content"
      role="tabpanel"
      aria-expanded="false"
      data-box="1">
      <p>
        Veniam culpa tempor amet dolor Lorem sit deserunt proident anim eiusmod
        enim. Pariatur culpa laboris incididunt occaecat irure nulla veniam
        velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit
        amet commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea
        excepteur incididunt voluptate sunt cillum.
      </p>
      <p>
        Veniam culpa tempor amet dolor Lorem sit deserunt proident anim eiusmod
        enim. Pariatur culpa laboris incididunt occaecat irure nulla veniam
        velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit
        amet commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea
        excepteur incididunt voluptate sunt cillum.
      </p>
    </div>
  </div>
  <div class="lib-show--item">
    <button class="lib-show--title"
      data-box-toggle="2"
      role="tab"
      aria-selected="false">
      <h4>
        Title
      </h4>
      <span class="icon"></span>
    </button>
    <div class="lib-show--content"
      role="tabpanel"
      aria-expanded="false"
      data-box="2">
      <p>
        Veniam culpa <a href="/test">tempor</a> amet dolor Lorem sit deserunt proident
        anim eiusmod enim. Pariatur culpa laboris incididunt occaecat irure nulla
        veniam velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit amet
        commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea excepteur incididunt
        voluptate sunt cillum.
      </p>
    </div>
  </div>
  <div class="lib-show--item">
    <button class="lib-show--title"
      data-box-toggle="3"
      role="tab"
      aria-selected="false">
      <h4>
        Title
      </h4>
      <span class="icon"></span>
    </button>
    <div class="lib-show--content"
      role="tabpanel"
      aria-expanded="false"
      data-box="3">
      <p>
        Veniam culpa tempor amet dolor Lorem sit deserunt proident anim eiusmod
        enim. Pariatur culpa laboris incididunt occaecat irure nulla veniam
        velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit
        amet commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea
        excepteur incididunt voluptate sunt cillum.
      </p>
      <p>
        Veniam culpa tempor amet dolor Lorem sit deserunt proident anim eiusmod
        enim. Pariatur culpa laboris incididunt occaecat irure nulla veniam
        velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit
        amet commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea
        excepteur incididunt voluptate sunt cillum.
      </p>
      <p>
        Veniam culpa tempor amet dolor Lorem sit deserunt proident anim eiusmod
        enim. Pariatur culpa laboris incididunt occaecat irure nulla veniam
        velit ullamco sint pariatur. Ut ea amet mollit laboris duis non eiusmod
        consequat aliquip veniam nostrud Lorem officia culpa. Deserunt velit
        amet commodo commodo sunt tempor eu ipsum. Lorem ipsum culpa ea
        excepteur incididunt voluptate sunt cillum.
      </p>
    </div>
  </div>
</div>
