.lib-hero--wrap {
  position: relative;
  height: rem(425);
  margin: 0 rem(-15);

  @include media-breakpoint-down(md) {
    height: rem(375);
  }
}

.lib-hero {
  // background-image: url('../../../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  @include media-breakpoint-only(xs) {
    // text-align: center;
  }
}
